<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
<link rel="stylesheet" href="/css/checkout.css">

<script src="https://js.stripe.com/v3/"></script>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(products.length >0){ %>
        <ul class="cart__item-list">
            <% products.forEach(p=>{ %>
            <li class="cart__item">
                <h1>
                    <%= p.productId.title  %>
                </h1>
                <h2>
                    Quantity: <%= p.quantity %>
                </h2>
            </li>
            <% }) %>
        </ul>
        <% }%>
        <div class="centered">
            <h2>Total: <%= totalSum %> </h2>
        </div>
        <div class="centered">

            <form action="/create-order" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_0tPZI1n0dhjngoiw4pShwsUx00Qs0PbUns" data-name="Your Order"
                    data-description="Your custom designed t-shirt" data-amount="<%= totalSum  * 100%>"
                    data-currency="usd">
                    </script>
            </form>
        </div>

    </main>
    <script src="/js/checkout.js"></script>
    <%- include('../includes/end.ejs') %>